<div class="flight flight-index">
  <div class="search-form container-fluid mt-2 shadow p-3">
    <%= form_tag flights_path, method: :get do %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-item">
            <%= label_tag :departure_spaceport, "Departure spaceport:", class: "fw-bold" %>
            <%= select_tag 'departure_spaceport', options_for_select([["Any", nil]] + @spaceport_choices, params[:departure_spaceport]), class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-item">
            <%= label_tag :arrival_spaceport, "Arrival spaceport:", class: "fw-bold" %>
            <%= select_tag 'arrival_spaceport', options_for_select([["Any", nil]] + @spaceport_choices, params[:arrival_spaceport]), class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-item">
            <%= label_tag :takeoff, "Departure date:", class: "fw-bold" %>
            <%= select_tag 'takeoff_monthday', options_for_select([["Any"]] + @monthday_choices, params[:takeoff_monthday]), class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-item">
            <%= label_tag :takeoff_year, "Departure year:", class: "fw-bold" %>
            <%= select_tag 'takeoff_year', options_for_select(@year_choices, params[:takeoff_year]), class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="form-item d-flex align-items-end h-100">
            <%= submit_tag "SEARCH", class: "btn btn-outline-secondary w-100" %><br><br>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    <% end %>
  </div>
  <h1 class="display-4 text-center mt-3">Select a Flight</h1>
  <div class="flight-list container-fluid">
    <%= form_with method: :get, url: new_booking_path do |f| %>
      <% @flights.each do |flight| %>
      <div class="mt-2 d-flex justify-content-center">
        <input type="radio" id="<%= "flight_#{flight.id}" %>" name="flight_id" value="<%= flight.id %>" class="btn-check" autocomplete="off">
        <label class="btn btn-outline-secondary text-start fs-5" for="<%= "flight_#{flight.id}" %>">
          <strong>DEPARTURE:</strong> <%= flight.departure_spaceport.code %> AT <%= flight.takeoff.strftime("%H:%M, %m/%d/%Y") %> --- <strong>ARRIVAL:</strong> <%= flight.arrival_spaceport.code %> AT <%= (flight.takeoff + flight.duration.hours).strftime("%H:%M, %m/%d/%Y") %>
        </label>
      </div>
      <div class="hidden-button justify-content-center gap-3 my-1 align-items-center" id="hidden-button-<%= flight.id %>" style="display: none;">
        <%= submit_tag "SELECT FLIGHT AND CONTINUE", class: "btn btn-outline-primary btn-lg", id: "selectFlightButton_#{flight.id}", style: "min-height: 100%;" %>
      </div>
      <% end %>
    <% end %>
  </div>

<script>
  document.addEventListener("turbo:load", function() {
    // Attach a change event listener to the radio buttons
    var radioButtons = document.querySelectorAll('input[name="flight_id"]');
    radioButtons.forEach(function(radioButton) {
      radioButton.addEventListener("change", function() {
        // Hide and disable all submit buttons
        var hiddenButtons = document.querySelectorAll('.hidden-button');
        hiddenButtons.forEach(function(hiddenButton) {
          hiddenButton.style.display = "none";
          hiddenButton.querySelector('.btn').disabled = true;
        });

        var selectedFlightId = document.querySelector('input[name="flight_id"]:checked').value;
        var selectedHiddenButton = document.getElementById('hidden-button-' + selectedFlightId);
        if (selectedHiddenButton) {
          selectedHiddenButton.style.display = "flex";
          // Timeout prevents accident double-click activation
          setTimeout(function() {
            selectedHiddenButton.querySelector('.btn').disabled = false;
          }, 800);
        }
      });
    });
  });
</script>

</div>