<div class="flight flight-index">
  <div class="search-form">
    <%= form_tag flights_path, method: :get do %>
      <div class="form-item">
        <%= label_tag :departure_spaceport, "Departure spaceport:" %>
        <%= select_tag 'departure_spaceport', options_for_select([["Any", nil]] + @spaceport_choices, params[:departure_spaceport]), class: 'form-control' %>
      </div>
      <div class="form-item">
        <%= label_tag :arrival_spaceport, "Arrival spaceport:" %>
        <%= select_tag 'arrival_spaceport', options_for_select([["Any", nil]] + @spaceport_choices, params[:arrival_spaceport]), class: 'form-control' %>
      </div>
      <div class="form-item">
        <%= label_tag :passenger_num, "Passenger count:" %>
        <%= select_tag 'passenger_num', options_for_select([1, 2, 3, 4], params[:passenger_num]), class: 'form-control' %>
      </div>
      <div class="form-item">
        <%= label_tag :takeoff, "Departure date:" %>
        <%= select_tag 'takeoff_monthday', options_for_select([["Any"]] + @monthday_choices, params[:takeoff_monthday]), class: 'form-control' %>
        <%= select_tag 'takeoff_year', options_for_select(@year_choices, params[:takeoff_year]), class: 'form-control' %>
      </div>

      <%= submit_tag "Search", class: "btn" %><br><br>
    <% end %>
  </div>
  <div class="flight-list">
    <%= form_with method: :get, url: new_booking_path do |f| %>
      <% @flights.each do |flight| %>
        <label>
        <%= f.radio_button :flight_id, flight.id %>
        DEPARTURE: <%= flight.departure_spaceport.code %> AT <%= flight.takeoff.strftime("%H:%M, %m/%d/%Y") %> --- ARRIVAL: <%= flight.arrival_spaceport.code %> AT <%= (flight.takeoff + flight.duration.hours).strftime("%H:%M, %m/%d/%Y") %>
        </label><br>      
      <% end %>
      <%= f.hidden_field :num_passengers, value: @num_passengers %>
      <%= submit_tag "Select Flight And Continue", class: "btn" %>
    <% end %>
  </div>
</div>